@mixin setTransition($type,$value,$speed){
    -webkit-transition: $type $value $speed;
    -ms-transition: $type $value $speed;
    -moz-transition: $type $value $speed;
    transition: $type $value $speed;
}